#Guía 3: SQL Avanzado

En esta guía usted deberá realizar consultas SQL en un servidor virtual con PostgreSQL que contiene
datos de películas extraídos de IMDb. El esquema de los datos es el siguiente:

* $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\underline{\text{anho}}}, \color{blue}{\text{calificacion}})$ 
* $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\text{genero}})$
* $\color{green}{\textbf{personaje}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}},  \color{blue}{\underline{\text{a_nombre}}}, \color{blue}{\underline{\text{personaje}}})$

La tabla $\color{green}{\textbf{personaje}}$ usa llaves foráneas que hacen referencia a las tablas de $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{a_nombre}}})$ y $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}})$.

Para iniciar el servidor virtual, instalar la base de datos postgres, y descargar los datos e importarlos, debe correr el siguiente bloque:

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
!wget -cO - https://drive.google.com/uc\?export\=download\&id\=1g7UsolqIt5CatIUiWKQNiQ4sT6zsCZnk > /content/guia2.sql
!psql postgres < /content/guia2.sql
%sql set search_path to guia;

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done
Building dependency tree
Reading state information... Done
57 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 10 database server
   ...done.
ERROR:  role "root" already exists
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
--2021-08-30 16:20:01--  https://drive.google.com/file/d/1g7UsolqIt5CatIUiWKQNiQ4sT6zsCZnk/view?usp=sharing
Resolving drive.google.com (drive.google.com)... 172.217.2.110, 2607:f8b0:4004:80a::200e
Connecting to drive.google.com (drive.google.com)|172.217.2.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘view?usp=sharing.1’

view?usp=sharing.1      [ <=>                ]  64.70K  --.-KB/s    in 0.005s

2021-08-30 16:20:02 (13.7 MB/s) - ‘view?usp=sharing.1’ saved [66251]

/bin/bash: /content/guia2.sql: No such file or directory

Ejecute la siguiente consulta para probar que todo ande bien:

In [ ]:
%sql SELECT * FROM pelicula;

 * postgresql+psycopg2://@/postgres

                                nombre  anho  calificacion
0             The Shawshank Redemption  1994           9.2
1                        The Godfather  1972           9.2
2               The Godfather: Part II  1974           9.0
3                      The Dark Knight  2008           8.9
4                         12 Angry Men  1957           8.9
..                                 ...   ...           ...
245                  The King's Speech  2010           8.0
246                       The Avengers  2012           8.0
247  Lagaan: Once Upon a Time in India  2001           8.0
248               Beauty and the Beast  1991           8.0
249                        Kumonosu-jô  1957           8.0

[250 rows x 3 columns]

Para ejecutar consultas multi-lineas use el tag %%sql:

In [ ]:
%%sql
SELECT * FROM 
pelicula;

 * postgresql+psycopg2://@/postgres

                                nombre  anho  calificacion
0             The Shawshank Redemption  1994           9.2
1                        The Godfather  1972           9.2
2               The Godfather: Part II  1974           9.0
3                      The Dark Knight  2008           8.9
4                         12 Angry Men  1957           8.9
..                                 ...   ...           ...
245                  The King's Speech  2010           8.0
246                       The Avengers  2012           8.0
247  Lagaan: Once Upon a Time in India  2001           8.0
248               Beauty and the Beast  1991           8.0
249                        Kumonosu-jô  1957           8.0

[250 rows x 3 columns]



## Pregunta 1
La cantidad de películas

##Pregunta 2
La cantidad de años distintos de estreno de las películas

##Pregunta 3
Los nombres, años y calificaciones de las 10 películas mejor calificadas, ordenadas por calificación descendente, luego por nombre ascendente y luego por año ascendente (solo hay que devolver 10 tuplas, incluso si hay empates de calificación).

##Pregunta 4
Los nombres de los actores y las actrices que aparecen en las películas de la Pregunta 3. Cada actor/actriz solo debe aparecer en los resultados una vez.

##Pregunta 5
Los nombres de solo las actrices de las películas de la Pregunta 4. Cada actriz debe aparecer en los resultados solo una vez.

##Pregunta 6
Las distintas décadas de las películas en las cuales apareció Clint Eastwood. (Tiene tres resultados; uno es 1960.)

##Pregunta 7
El conteo de películas distintas por año (para cada año en la tabla pelicula, devolver su conteo de películas).

##Pregunta 8
Devuelva los mismos resultados como en la Pregunta 7, pero ordenados por conteo descendente y borrando los años cuyo conteo sea menor que 2.

##Pregunta 9
Sea una buena película una película con una calificación $\geq 8{,}6$. Para cada actor/actriz, cuente sus distintas buenas películas. Si un actor/una actriz no tiene una buena película, se puede omitirlo/la de los resultados. Ordene los resultados por conteo descendente.

##Pregunta 10
Cuente el número de actrices distintas por película. De haber una película sin actrices, deje un conteo de 0 (en vez de omitir la película).