# Guía 2: SQL

En esta guía usted deberá realizar consultas SQL en un servidor virtual con PostgreSQL que contiene
datos de películas extraídos de IMDb. El esquema de los datos es el siguiente:

* $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\underline{\text{anho}}}, \color{blue}{\text{calificacion}})$ 
* $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\text{genero}})$
* $\color{green}{\textbf{personaje}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}},  \color{blue}{\underline{\text{a_nombre}}}, \color{blue}{\underline{\text{personaje}}})$

La tabla $\color{green}{\textbf{personaje}}$ usa llaves foráneas que hacen referencia a las tablas de $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{a_nombre}}})$ y $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}})$.

Para iniciar el servidor virtual, instalar la base de datos postgres, y descargar los datos e importarlos, debe correr el siguiente bloque:

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
%sql create schema guia;
!wget -cO - https://github.com/IIC2413/Syllabus-2022-2/raw/main/Gu%C3%ADas/extra/guia2.sql > /content/guia2.sql
!psql postgres < /content/guia2.sql
%sql set search_path to guia;

from google.colab import output
output.clear()

Ejecute la siguiente consulta para probar que todo ande bien:

In [ ]:
%sql select * from pelicula;

Para ejecutar consultas multi-lineas use el tag %%sql:

In [ ]:
%%sql
SELECT * FROM 
pelicula
where nombre ilike '%terminator%';

Ahora, debe diseñar las consultas que resuelvan las siguientes preguntas usando los operadores vistos en clases.

# SQL
## Pregunta 1
Las películas de los 80s, ordenadas por calificación de mayor a menor.

## Pregunta 2
Los nombres de los personajes que ha interpretado su actriz/actor favorito en los datos, ordenados por año.

# Pregunta 3
Las películas en las que participó su actriz/actor favorito en los datos, ordenadas por calificación de mayor a menor.

## Pregunta 4
Los nombres de los personajes interpretados por mujeres, en películas de los 90s, con calificación mayor a 8,7.

## Pregunta 5
Las películas de la saga "The Lord of the Rings" (usando el prefijo de su nombre) ordenadas por calificación y por año.

## Pregunta 6
Los nombres de los actores que interpretan más de un personaje en la misma película.

## Pregunta 7
Las películas en que actúan juntos Uma Thurman y Samuel L. Jackson.

## Pregunta 8
Las películas en que actúa Uma Thurman y **no** Samuel L. Jackson.

## Pregunta 9
Los pares de actores que aparecen juntos en más de una película. Cada par debe aparecer una sola vez, es decir, si $(A,B)$ aparece, no debe aparecer $(B,A)$, pues es el mismo par. Tampoco se deben incluir pares de la forma $(A,A)$.

## Pregunta 10
La película con calificación más alta.