#Guía 7: Índices

Se cuenta con varias tablas que son instancias del siguiente esquema abstracto:

* $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\underline{\text{anho}}}, \color{blue}{\text{calificacion}}, \color{blue}{\text{votos}})$ 
* $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\text{genero}})$
* $\color{green}{\textbf{personaje}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}},  \color{blue}{\underline{\text{a_nombre}}}, \color{blue}{\text{personaje}})$

La tabla $\color{green}{\textbf{personaje}}$ usa llaves foráneas que hacen referencia a las tablas de $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{a_nombre}}})$ y $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}})$.

Para iniciar el servidor virtual, instalar la base de datos postgres, y descargar los datos e importarlos, debe correr el siguiente bloque:

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
!pip install gdown
!gdown https://drive.google.com/uc?id=1tyY6baamCXrweBqu2MGJC_fOJMaV_6j7
!gdown https://drive.google.com/uc?id=1ffipzThl9AWghHu0bfTKY-YMIsXdZGw_
!sudo -u postgres psql -c "CREATE SCHEMA g"
!sudo -u postgres psql -c "CREATE SCHEMA gi"
!psql postgres < /content/guia5.sql
!psql postgres < /content/guia5i.sql

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [581 kB]
Get:11 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,335 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [67.9 kB]
Get:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,802 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,785 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [922 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [627 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:25 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [42.0 kB]
Fetched 13.1 MB in 4s (3,472 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
79 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 10 database server
   ...done.
CREATE ROLE

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (3.6.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.62.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2021.5.30)
Downloading...
From: https://drive.google.com/uc?id=1tyY6baamCXrweBqu2MGJC_fOJMaV_6j7
To: /content/guia5.sql
211MB [00:01, 138MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ffipzThl9AWghHu0bfTKY-YMIsXdZGw_
To: /content/guia5i.sql
211MB [00:03, 55.9MB/s]
CREATE SCHEMA
CREATE SCHEMA
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
ERROR:  schema "g" already exists
ALTER SCHEMA
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 856421
COPY 440234
COPY 197219
COPY 72696
COPY 22490
COPY 6401
COPY 2170526
COPY 944964
COPY 372367
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
ALTER DEFAULT PRIVILEGES
ALTER DEFAULT PRIVILEGES
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
ERROR:  schema "gi" already exists
ALTER SCHEMA
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 856421
COPY 440234
COPY 197219
COPY 72696
COPY 22490
COPY 6401
COPY 2170526
COPY 944964
COPY 372367
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
ALTER DEFAULT PRIVILEGES
ALTER DEFAULT PRIVILEGES

Ejecute la siguiente consulta para probar que todo ande bien:

In [ ]:
%sql SELECT * FROM g.pelicula100;

 * postgresql+psycopg2://@/postgres

                                               nombre  ...  votos
0      The Bad Lieutenant: Port of Call - New Orleans  ...  64076
1                              A Woman of Distinction  ...    239
2                                    Around the World  ...    130
3                                     Chain Lightning  ...    673
4                                        Los tarantos  ...    185
...                                               ...  ...    ...
72691                                          Zizek!  ...   1173
72692                                          Chrigu  ...    117
72693                                Unmistaken Child  ...    613
72694                          Kyvadlo, jáma a nadeje  ...    610
72695                              La planète blanche  ...    465

[72696 rows x 4 columns]

Para ejecutar consultas multi-lineas use el tag %%sql:

In [ ]:
%%sql
SELECT * FROM g.actor1000;

 * postgresql+psycopg2://@/postgres

                          nombre genero
0                           Name      F
1                   7 Year Bitch      F
2               Aabel, Hauk (II)      F
3                Aabel, Per (II)      F
4               Aadland, Beverly      F
...                          ...    ...
440229   Þorsteinsson, Jón Pétur      M
440230      Þórarinsson, Kjartan      M
440231        Þórisdóttir, Hulda      M
440232  Þórunnarson, Davíð Freyr      M
440233         Þórðarson, Ingvar      M

[440234 rows x 2 columns]

Ahora, debe diseñar las consultas que resuelvan las siguientes preguntas usando los operadores vistos en clases.

# Índices

En la base de datos hay dos esquemas: uno con datos indexados ($\texttt{gi}$) y otro sin índices ($\texttt{g}$). En cada esquema está la misma estructura tres veces con los datos para películas con más de 10.000 votos, más de 1.000 votos y más de 100 votos. Note que las tablas de más de 10.000 votos tienen **menos** tuplas que las 1.000 y muchas **menos** que las 100. En esta guía, usted medirá el efecto de utilizar índices en los tiempos de consultas.


## Pregunta 1

Nota para las siguientes preguntas: Observe que estos conteos no cambian en el caso de $gi$, así que no hay que contar las tuplas y los bloques dos veces.

1. Usando el esquema $\texttt{g}$ cuente el número de tuplas para cada tablas presente. Registre las consultas y sus resultados.
Puede usar el comando 
$\texttt{\dt g.*}$ para listar todas las tablas del schema $\texttt{g}$ (escriba "q" en el texto que sale a continuación de (END) para terminar la ejecución de la celda.

In [ ]:
!sudo -u postgres psql -c "\dt g.*"

             List of relations
 Schema |      Name      | Type  |  Owner
--------+----------------+-------+----------
 g      | actor100       | table | postgres
 g      | actor1000      | table | postgres
 g      | actor10000     | table | postgres
 g      | pelicula100    | table | postgres
 g      | pelicula1000   | table | postgres
 g      | pelicula10000  | table | postgres
 g      | personaje100   | table | postgres
 g      | personaje1000  | table | postgres
 g      | personaje10000 | table | postgres
(9 rows)

>8

2. Cuente cuántos bloques hay en cada tabla.
Para ello puede usar la siguiente consulta:
``` 
SELECT DISTINCT relname, relpages FROM pg_class WHERE relname = '[tabla-nombre]';
```
Donde $\texttt{relpages}$ corresponde al número de bloques en Postgresql.

3. Calcule el número promedio de tuplas por bloque para cada tabla.

## Pregunta 2
Compare los índices disponibles para las tres tablas con el prefijo $\texttt{10000}$ en ambos esquemas usando los dos comandos 
$\texttt{\d+ g.[tabla]10000}$ y $\texttt{\d+ gi.[tabla]10000}$. Recuerde que Postgres agrega un
índice para la llave primaria por defecto, entonces $\texttt{g}$ solo tiene esos índices. (Se configuran los índices de las tablas $\texttt{1000}$ y $\texttt{100}$ de la misma forma.)

# Pregunta 3
Use el siguiente comando para obtener los planes de consulta y tiempos de ejecución de la consulta indicada. Ejecútela en los esquemas $\texttt{lab6}$ y $\texttt{lab6i}$.

```
EXPLAIN ANALYZE SELECT * FROM [squema].personaje100 WHERE p_nombre='Up' AND p_anho=2009;
```



1.   Registre el plan de consulta y el tiempo de ejecución. 
2.   Calcule y registre la cantidad de consultas por segundo (según la suma del tiempo de planificación y ejecución) que pueden realizarse.

## Pregunta 4
De la pregunta anterior, calcule y registre una estimación de la cantidad de bloques leídos ($\pm1$) por las dos consultas. Para esto considere el plan, el número de tuplas en el resultado, el número de tuplas en la tabla, y el número promedio de tuplas por bloque, en cada uno de los dos esquemas.

## Pregunta 5
Considerando solo las tablas 100:



1.   Consulte por las **otras** películas (nombre y año) en las cuales los actores/actrices de 'Up (2009)' han participado. \\
Para ello, escriba dos versiones equivalentes de la misma consulta: una versión sin anidación y otra versión con anidación (usando $\texttt{IN}$).

2.  Utilize $\texttt{EXPLAIN ANALYZE}$ en ambas consultas y obtenga los planes y tiempos de ejecución para los esquemas $\texttt{g}$ y $\texttt{gi}$.

## Pregunta 6
Tomando la consulta de la Pregunta 3, y ambas consultas de 5, substituya 'Up (2019)' por otra película (que aparezca en la tabla $\texttt{pelicula10000}$). Para las tres consultas resultantes, debe:

1. Ejecutar las consultas en el esquema $\texttt{g}$ usando las tablas terminadas en $\texttt{100}$, $\texttt{1000}$ y $\texttt{10000}$ usando $\texttt{EXPLAIN ANALYZE}$ y registrar los tiempos.
2. Ejecutar las consultas en el esquema $\texttt{gi}$ usando las tablas terminadas en $\texttt{100}$, $\texttt{1000}$ y $\texttt{10000}$ usando $\texttt{EXPLAIN ANALYZE}$ y registrar los tiempos. 
3. Mostrar gráficamente (con la herramienta que estime conveniente) cómo varía el tiempo tomado (la suma del tiempo de ejecución y el tiempo de planificación) respecto al tamaño de las tablas, tanto en la versión sin índices, como en la versión indexada. Considere que el tamaño de la tabla es el número de tuplas en la tabla $\texttt{personaje*}$.

Para gráficar puede usar la libreria matplotlib como se describe a continuación para graficar dos series:
```
import matplotlib.pyplot as plt
import numpy as np

fig = plt.figure()
x = [100, 1000, 10000]
y = np.array([[1,2], [3,4], [5,6]])
plt.plot(x, y)
```